.scroll-container {
  width: 100%;
  margin: 20px auto;
}

.text-white {
  color: white;
  font-size: 20px;
  margin: 40px 0 10px 0;
}

.link {
  position: relative;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s;
}

.link:hover {
  cursor: pointer;
  color: #e50914 !important;
}

.mobile {
  width: 100px !important;
}

.little-text {
  bottom: 5px;
  right: 20px;
  position: absolute;
  display: inline-block;
  font-size: 12px;
  color: rgb(49, 58, 73);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateX(-80px);
}

.arrow {
  /* position: absolute; */
  margin-left: 4px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.link:hover .arrow,
.arrow:hover {
  border-bottom: 3px solid #e50914;
  border-right: 3px solid #e50914;
  transform: translateX(80px);
}

.link:hover .little-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(80px);
}
