.rating {
  /* position: absolute;
      top: 2px;
      right: 14px; */
  font-size: 9px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.534);
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 3px;
  outline: 2px solid rgb(49, 58, 73);
  margin-bottom: 5px;
}

.rating .star {
  /* text-decoration: ; */
  font-size: 6px;
  margin: 0;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.green {
  border: 3px solid rgb(17, 77, 17) !important;
}

.lightgreen {
  border: 3px solid rgb(44, 185, 39) !important;
}

.greenyellow {
  border: 3px solid rgb(161, 184, 27) !important;
}

.yellow {
  border: 3px solid rgb(247, 222, 0) !important;
}

.red {
  border: 3px solid red !important;
}
