.description {
    display: flex;
    flex-direction: column;
}

.little-details {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 5px 0
}

.little-details h5 {
    margin-right: 5px;
    margin-bottom: 0;
    color: white;
    font-size: 20px;
}

.gray {
    font-size: 20px;
    height: fit-content;
    /* margin-left: 50px; */
    margin-right: 5px;
    color: gray;
}
.gray:first-child {
    /* margin-left: 5px; */
    color: gray;
}

.votes {
    color: rgb(49, 58, 73);
    font-size: 18px;

}