.header {
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: black;
  z-index: 1600;
  position: sticky;
  width: 100%;
  height: 70px;
  padding: 10px;
  align-items: center;
  color: var(--red);
}

.header a {
  color: var(--red) !important;
  text-decoration: none;
}

.headr .nav > a::after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../../assets/images/watchRed.png);
  /* transition: width 0.3s ease-in-out; */
}

.header a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.logo a {
  font-size: 20px;
  font-weight: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: fit-content;
    height: fit-content; */
}

.nav .nav-item {
  margin: 20px;
}

.watchlist img {
  width: 18px;
  height: 20px;
  margin-left: 2px;
  position: absolute;
}

/* .watchlist::after {
  content: " ";
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/watchRed.png);
  background-position: center;
  background-size: cover;
  transition: width 0.3s ease-in-out;
} */

.line {
  position: fixed;
  top: 87px;
  left: 0;
  height: 3px;
  background-color: #e50914;
  width: 0;
}
