.genreGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* width: 100%; */
  height: fit-content;
  padding: 0 12%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin: 10px auto 20px auto;
  padding: 0 10%;
  color: white;
}

.title .gray {
  color: gray;
}
