@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu:wght@500&display=swap");

:root {
  --red: #e50914;
  --black: #000000;
  --gray: gray;
}

* {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: black;
  overflow-x: hidden;
}

header {
  width: 100% !important;
  /* position: sticky !important; */
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: #e50914 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  opacity: 0.6 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #e50914 !important;
  opacity: 1 !important;
}

.swiper-scrollbar {
  background-color: var(#e509146c) !important;
}
.swiper-scrollbar-drag {
  background-color: var(#e50914f3) !important;
}

h1 {
  color: #e509145e;
}

html::-webkit-scrollbar {
  width: 4px;
}

/* Track */
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 5px; */
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #e50914;
  /* border-radius: 5px; */
}
